<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<form class="login" method="POST" action="/admin/login/">
    <fieldset>
        <!-- legend>Login</legend -->
        <table>
            <tr><th>User name :</th><td><input type="text" name="user_name" tabindex="1"></td></tr>
            <tr><th>Password :</th><td><input type="password" name="password" tabindex="2"></td></tr>
            <tr><th></th><td><button tabindex="3">Login</button></td></tr>
        </table>
    </fieldset>
</form>