<div id="footer-container">
    <div class="footer-content ">
        <div class="_table w100">
            <div class="td vmiddle" style="width: 70px;">
               <button class="d2tSoftware">
                   <span class="d2t">D2T</span>
                   <span class="software">
                   <i class="s">s</i><i class="o">o</i><i class="f">f</i><i class="t">t</i><i class="w">w</i><i class="a">a</i><i class="r">r</i><i class="e">e</i>
                   </span>
               </button>
            </div>
            <div class="td vmiddle">
                <p style="color: rgb(174,175,179);"> &copy; 2017</p>
                <p style="color: rgb(174,175,179);"> Phát triển bởi d2tsoftware.vn</p>
                <p style="color: rgb(174,175,179);"> Bản quyền thuộc d2tsoftware jsc</p>
            </div>
        </div>
    </div>
</div>
