<div id="head-container">
    <div class="head-offset-inner bg-white border-bottom">
	    <div class="table w100">
	        <div class="td">
	           <button type="button">
	               
	           </button>
	        </div>
	    </div>
    </div>
</div>
<div id="head-height-offset"></div>