<div id="head-container">
    <div class="head-offset-inner bg-white border-bottom">
	    <div class="table w100 head-top">
	        <div class="td">
	           <button type="button" class="op-ux-button" id="button-show-menu">
	               <span class="glyphicons glyphicons-show-lines"></span>
	           </button>
	        </div>
	        <div class="td logo">
	           <a class="home-link" href="/"><img class="logo-image" src="/image/logo0904.gif" alt="vnoptical" title="trang chủ vnoptical.com"> </a>
	        </div>
	        <div class="td head-seach">
	           <form method="get">
		           <table>
		               <tr>
		                   <td>
		                       <input type="search" name="search_query" class="op-ux-input head-search-query">
		                   </td>
		                   <td>
		                       <button type="submit" class="op-ux-button head-search-button">
		                            <span class="glyphicons glyphicons-search"></span>
		                       </button>
		                   </td>
		               </tr>
		           </table>
	           </form>
	        </div>
	        <div class="td free-col">
	        </div>
	    </div>
    </div>
</div>
<div id="head-height-offset"></div>