<div id="menu-fluid" class="fluid">
    <div id="menu-fluid-container" class="fluid-container">
        <div class="fluid-body">
            <ul class="fluid-nav">
                <li><a class="h-i" href="/customer?menuCode=CUSTOMER_01"><%-__('customer.customerInfo')%></a></li>
                <li><a class="h-i" href="/invoice?menuCode=INVOICE_02"><%-__('invoice.invoiceInfo')%></a></li>
            </ul>
        </div>
    </div>
</div>