<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title><%=sails.config.common.site_title%></title>
<link rel="stylesheet" type="text/css" href="/css/scrum-master.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/scrum.role.css" media="all">
<link href="/css/font/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/css/time.scroll.css" rel="stylesheet" type="text/css">
<link href="/css/uicontroll.css" rel="stylesheet" type="text/css">
<link href="/css/front.style.css" rel="stylesheet" type="text/css">
<link href="/css/back.style.css" rel="stylesheet" type="text/css">
<script src="/js/jquery.min.js"></script>
</head>
<body class="crum-master-bg">
    <%include ../element/_header%>
    <div class="wrapper">
        <%- body %>
    </div>
    <overlay></overlay>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/document.ready.js"></script>
<script src="/js/io.js"></script>
</body>
</html>
