<!DOCTYPE html>
<html class="" lang="vi">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>VNOPTICAL</title>
<link rel="canonical" href="https://www.vnoptical.com/">
<link rel="alternate" media="handheld" href="https://m.vnoptical.com/">
<link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.youtube.com/">
<meta name="description" content="">
<meta name="keywords" 
    content="kính mắt, kính cận, kính thuốc, kính viễn thị, kính thời trang, kính hàng hiệu, cận thị, viễn thị, tật khúc xạ, kính mắt uy tín, tin cậy, kính mắt online">
<link rel="search" type="application/opensearchdescription+xml"
    href="https://www.youtube.com/opensearch?locale=vi_VN"
    title="Tìm kiếm Kính mắt trên vnoptical">
<meta name="theme-color" content="#e62117">
<link rel="publisher" href="https://plus.google.com/115229808208707341778">
<link href="/css/op-common.css" rel="stylesheet" />
<link href="/css/op-Roboto.css" rel="stylesheet" />
<link href="/css/op-layout.css" rel="stylesheet" />
</head>
<body>
    <div id="body-container">
        <%include _header%>
    <%- body %>
    </div>
    <div id="footer-container">
    </div>
</body>
</html>