<!DOCTYPE html>
<html class="" lang="vi">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>VNOPTICAL</title>
<link rel="canonical" href="https://www.vnoptical.com/">
<link rel="alternate" media="handheld" href="https://m.vnoptical.com/">
<link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.vnoptical.com/">
<meta name="description" content="">
<meta name="keywords" 
    content="kính mắt, kính cận, kính thuốc, kính viễn thị, kính thời trang, kính hàng hiệu, cận thị, viễn thị, tật khúc xạ, kính mắt uy tín, tin cậy, kính mắt online">
<link rel="search" type="application/opensearchdescription+xml"
    href="https://www.vnoptical.com/opensearch?locale=vi_VN"
    title="Tìm kiếm Kính mắt trên vnoptical">
<meta name="theme-color" content="#e62117">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
<link href="/css/op-Roboto.css" rel="stylesheet" />
<link href="/css/font/Glyphicons/glyphicons.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/plugin/page-progress/page-progress.css" />
<link href="/css/op-common.css" rel="stylesheet" />
<link href="/css/op-layout.css" rel="stylesheet" />
<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-sanitize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/plugin/page-progress/page-progress.js"></script>
</head>
<body id="body" class="show-fluid">
    <div id="body-container">
        <%include _header%>
        <div id="page-container">
            <%include _menu_fluid%>
            <div id="content-wrapper" class="wrapper">
                <div id="top-content">
                <%- body %>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-container">
    </div>
</body>
<script src="/js/op.document.ready.js"></script>
</html>