<div id="LeftSidebarContainer" class="SidebarContainer LeftSidebarContainer" style="width: 200px;">
<div id="FormController" >
    <div class="panel panel-default">
        <div class="panel-heading">
            Thông tin sản phẩm
        </div>
        <div class="panel-body">
            <div class="row">
                <label class="control-label w-55px">Mã vạch</label>
                
            </div>
            <div class="row">
                <div class="control-input w-55px"><input type="text" name="barcode"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="Hsplit" class="Hsplit resizer" title="Thu gọn/Mở rộng" style="left: 200px;"></div>