<div class="MenubarContainer">
	<div class="Menubar tran">
		<div class="dropdown">
		    <a href="javascript:void(0);" class="Item dropdown-toggle" data-toggle="dropdown">Nhập Hàng</a>
		    <ul class="dropdown-menu with-arrow">
		      <li><a href="#">Mã vạch</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Hàng mới</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Nhập tay</a></li>
		    </ul>
		</div>
		<div class="dropdown">
		    <a href="javascript:void(0);" class="Item dropdown-toggle" data-toggle="dropdown">Xuất</a>
		    <ul class="dropdown-menu with-arrow">
		      <li><a href="#">Bán lẻ</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Bán buôn</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Hàng thất thoát</a></li>
		    </ul>
		</div>
		<div class="dropdown">
		    <a href="javascript:void(0);" class="Item dropdown-toggle" data-toggle="dropdown">Thống kê</a>
		    <ul class="dropdown-menu with-arrow">
		      <li><a href="#">Bán lẻ</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Bán buôn</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Hàng tồn</a></li>
		    </ul>
		</div>
		<div class="dropdown">
		    <a href="javascript:void(0);" class="Item dropdown-toggle" data-toggle="dropdown">Chỉnh sửa</a>
		    <ul class="dropdown-menu with-arrow">
		      <li><a href="#">Hóa đơn bán lẻ</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Hóa đơn bán buôn</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Phiếu kiểm tra thị lực</a></li>
		    </ul>
		</div>
		<div class="dropdown">
		    <a href="javascript:void(0);" class="Item dropdown-toggle" data-toggle="dropdown">Tìm kiếm</a>
		    <ul class="dropdown-menu with-arrow">
		      <li><a href="#">Mắt kính</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Kính thời trang</a></li>
		      <li class="divider"></li>
		      <li><a href="#">Khác</a></li>
		    </ul>
		</div>
		<div class="dropdown">
		    <a href="javascript:void(0);" class="Item dropdown-toggle" data-toggle="dropdown">Hỗ trợ</a>
		</div>
		<!-- <div class="dropdown">
		    <a href="javascript:void(0);" class="Item Status dropdown-toggle" data-toggle="dropdown"></a>
		</div> -->
	</div>
	<a id="LogoStore" class="Avatar img-thumbnail"
		style=""
		oncontextmenu="return false;">V</a>
	<div id="TopPicPath" class="TopPicPath" >
		<a href="javascript:void(0);" title="Biểu đồ vô đề.xml - Đổi tên"
			class="geItem"
			style="padding: 2px 8px; display: inline; font-size: 18px; white-space: nowrap;">Biểu
			đồ vô đề.xml</a>
	</div>
</div>