<div class="MenubarContainer">
	<div class="Menubar tran">
		<a href="javascript:void(0);" class="Item">Tập tin</a><a
			href="javascript:void(0);" class="Item">Chỉnh sửa</a><a
			href="javascript:void(0);" class="Item">Xem</a><a
			href="javascript:void(0);" class="Item">Sắp xếp</a><a
			href="javascript:void(0);" class="Item">Bổ sung</a><a
			href="javascript:void(0);" class="Item">Hỗ trợ</a><a
			class="Item Status"></a>
		<div style="display: inline-block; padding-right: 48px; position: absolute; right: 0px; visibility: visible;"></div>
	</div>
	<a id="LogoStore" class="Avatar"
		style=""
		oncontextmenu="return false;">V</a>
	<div id="TopPicPath" class="TopPicPath" >
		<a href="javascript:void(0);" title="Biểu đồ vô đề.xml - Đổi tên"
			class="geItem"
			style="padding: 2px 8px; display: inline; font-size: 18px; white-space: nowrap;">Biểu
			đồ vô đề.xml</a>
	</div>
</div>