<div id="RightSidebarContainer" class="SidebarContainer tran" >
	<div
		style="white-space: nowrap; color: rgb(112, 112, 112); text-align: left; cursor: default;">
		<div
			style="border-width: 0px 0px 1px; border-style: solid; border-color: rgb(192, 192, 192); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; text-align: center; font-weight: bold; overflow: hidden; display: inline-block; padding-top: 8px; height: 25px; width: 100%;">
			Biểu đồ<img
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAQMAAADaX5RTAAAABlBMVEV7mr3///+wksspAAAAAnRSTlP/AOW3MEoAAAAdSURBVAgdY9jXwCDDwNDRwHCwgeExmASygSL7GgB12QiqNHZZIwAAAABJRU5ErkJggg=="
				title="Hủy thao tác"
				style="position: absolute; display: block; right: 0px; top: 8px; cursor: pointer; margin-top: 1px; margin-right: 17px; border: 1px solid transparent; padding: 1px; opacity: 0.5;"
				border="0">
		</div>
		<div
			style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
			<div
				style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">Xem</div>
			<div
				style="padding: 6px 0px 1px; white-space: nowrap; overflow: hidden; width: 200px; height: 18px;">
				<input style="margin: 0px 6px 0px 0px;" checked="" type="checkbox"><span>Lưới</span>
				<button
					style="position: absolute; margin-top: -4px; right: 20px; height: 22px;"
					class="geColorBtn">
					<div
						style="width: 36px; height: 12px; margin: 0px; border: 1px solid black; background-color: rgb(224, 224, 224);"></div>
				</button>
				<input
					style="position: absolute; text-align: right; width: 38px; margin-top: -2px; right: 84px;">
				<div
					style="border-radius: 3px; border: 1px solid rgb(192, 192, 192); position: absolute; margin-top: -16px; right: 72px;">
					<div
						style="border-bottom: 1px solid rgb(192, 192, 192); position: relative; height: 9px; width: 10px;"
						class="geBtnUp"></div>
					<div
						style="border: medium none; position: relative; height: 9px; width: 10px;"
						class="geBtnDown"></div>
				</div>
			</div>
			<div
				style="padding: 6px 0px 1px; white-space: nowrap; overflow: hidden; width: 200px; height: 18px;">
				<input style="margin: 0px 6px 0px 0px;" checked="" type="checkbox"><span>Hướng
					dẫn</span>
			</div>
			<div
				style="padding: 6px 0px 1px; white-space: nowrap; overflow: hidden; width: 200px; height: 18px;">
				<input style="margin: 0px 6px 0px 0px;" type="checkbox"><span>Xem
					trang</span>
			</div>
			<div
				style="padding: 6px 0px 1px; white-space: nowrap; overflow: hidden; width: 200px; height: 18px;">
				<input style="margin: 0px 6px 0px 0px;" checked="" type="checkbox"><span>Nền</span>
				<button
					style="position: absolute; margin-top: -4px; right: 20px; height: 22px;"
					class="geColorBtn">
					<div
						style="width: 36px; height: 12px; margin: 0px; border: 1px solid black; background-color: rgb(255, 255, 255);"></div>
				</button>
				<button
					style="position: absolute; margin-top: -4px; padding-bottom: 0px; height: 22px; right: 72px; width: 56px;"
					class="geColorBtn">Ảnh</button>
			</div>
		</div>
		<div
			style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
			<div
				style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">Tùy
				chọn</div>
			<div
				style="padding: 6px 0px 1px; white-space: nowrap; overflow: hidden; width: 200px; height: 18px;">
				<input style="margin: 0px 6px 0px 0px;" checked="" type="checkbox"><span>Connection
					Arrows</span>
			</div>
			<div
				style="padding: 6px 0px 1px; white-space: nowrap; overflow: hidden; width: 200px; height: 18px;">
				<input style="margin: 0px 6px 0px 0px;" checked="" type="checkbox"><span>Điểm
					liên kết</span>
			</div>
		</div>
		<div
			style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
			<div
				style="padding: 0px 0px 6px; white-space: nowrap; overflow: hidden; width: 200px; font-weight: bold;">Kích
				thước giấy</div>
			<select style="margin-bottom: 8px; width: 202px;"><option
					value="letter">US-Letter (8,5" x 11")</option>
				<option value="legal">US-Legal (8,5" x 14")</option>
				<option value="tabloid">US-Tabloid (279 mm x 432 mm)</option>
				<option value="a3">A3 (297 mm x 420 mm)</option>
				<option value="a4">A4 (210 mm x 297 mm)</option>
				<option value="a5">A5 (148 mm x 210 mm)</option>
				<option value="custom">Tùy chỉnh</option></select><br>
			<div style="margin-left: 4px; width: 210px; height: 24px;">
				<input name="format" value="portrait" style="margin-right: 6px;"
					checked="" type="radio"><span style="max-width: 100px;">Chân
					dung</span><input name="format" value="landscape"
					style="margin-left: 10px; margin-right: 6px;" type="radio"><span
					style="width: 100px;">Khung cảnh</span>
			</div>
			<div
				style="margin-left: 4px; width: 210px; height: 24px; display: none;">
				<input size="6" value="826"> x <input size="6" value="1169">
				pt
			</div>
		</div>
		<div
			style="padding: 12px 0px 12px 18px; border-bottom: 1px solid rgb(192, 192, 192);">
			<button title="Edit Data (Ctrl+M)"
				style="width: 202px; margin-bottom: 2px;">Edit Data</button>
			<br>
			<button title="Xóa phong cách mặc định (Ctrl+Shift+R)"
				style="width: 202px;">Xóa phong cách mặc định</button>
		</div>
	</div>
</div>