<div class="ToolbarContainer tran">
	<a id="cmdFullScreen" class="Button button-right" href="javascript:void(0);" title="Fullscreen" style="right: 56px;">
	    <span class="glyphicons glyphicons-fit-image-to-frame"></span>
    </a>
	<a id="cmdHideSideRight" class="Button button-right" href="javascript:void(0);" style="right: 34px;">
	    <span class="glyphicons glyphicons-bring-forward"></span>
    </a>
	<a id="cmdMinHeader" class="Button button-right" href="javascript:void(0);" title="Thu gọn/Mở rộng"
		style="right: 13px;"><span class="glyphicons glyphicons-arrow-up"></span></a>
</div>