<div class="page-home">
    <ol class="top-of-product">
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
        <li class="product-row">
           <div class="section">
               <div class="section-title">
                   <div class="head-item-table table w100">
                       <h2 class="td module-title free-col">
                            <a href="javascript:void(0);">
                            Phổ biến
                            </a>
                       </h2>
                       <div class="td">
                           <button type="button" class="op-ux-icon" data-title="Không quan tâm">
                               <span class="glyphicons glyphicons-remove"></span>
                           </button>
                       </div>
                   </div>
               </div>
               <ul class="section-list">
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
                    <li class="section-list-item">
                        <div class="item">
                            
                        </div>
                    </li>
               </ul>
           </div>
        </li>
    </ol>
</div>