<div class="mainScreen clearfix">
<div class="leftSide menu">
<%include /element/_menu%>
</div>
<div class="rightSide">
    <div class="kanban">
    <h2 class="bar"><i class="fa fa-file-text-o"></i> Dự án <a>Pro-cy</a> sprint 1</h2>
    <ul class="action clearfix">
        <li class="tool"><a id="showTaskForm" onclick="javascript:return false;" href="#"  ><i class="fa fa-tasks"></i> Add Task</a>
        <div class="boxup menu-list">
            <div class="input-data-form">
                <%include /element/task/form%>
            </div>
        </div>
        </li>
        <li class="tool"><a href="#"><i class="fa fa-tasks"></i> Filter</a>
        <div class="boxup menu-list" tabindex="1">
            <div class="input-data-form">
	            <form id="addTask" action="/task/create" method="post">
	                <%-form.input(Task, 'ticket_id', '', {class: 'ticket_id'})%>
	            </form>
            </div>
        </div>
        </li>
    </ul>
    <div class="data-area">
        <table class="scrum">
		    <tr class="head">
		        <th class="to-upper">to do</th>
		        <th class="to-upper">Doing</th>
		        <th class="to-upper">Chờ review</th>
		        <th class="to-upper">review</th>
		        <th class="to-upper">Done</th>
		        <th class="to-upper">Tắc tị</th>
		    </tr>
		    <tr class="l">
		        <td class="task task-to-do" id="task-to-do-hunggk">
		            <div class="task-item t green" id="1">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t orange" id="2">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t red" id="3">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t green" id="4">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		        </td>
		        <td class="task task-doing" id="task-doing-hunggk">
		        </td>
		        <td class="task task-review-waiting" id="task-review-waiting-hunggk">
		        </td>
		        <td class="task task-review" id="task-review-hunggk">
		        </td>
		        <td class="task task-done" id="task-done-hunggk">
		        </td>
		        <td class="task task-suppend" id="task-suppend-hunggk">
		        </td>
		    </tr>
		    <tr class="l">
		        <td class="task task-to-do" id="task-to-do-myntd">
		            <div class="task-item t orange" id="5">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t red" id="6">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t green" id="7">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		        </td>
		        <td class="task task-doing" id="task-doing-myntd">
		        </td>
		        <td class="task task-review-waiting" id="task-review-waiting-myntd">
		        </td>
		        <td class="task task-review" id="task-review-myntd">
		        </td>
		        <td class="task task-done" id="task-done-myntd">
		        </td>
		        <td class="task task-suppend" id="task-suppend-myntd">
		        </td>
		    </tr>
		    <tr class="l">
		        <td class="task task-to-do" id="task-to-do-myntd">
		            <div class="task-item t orange" id="5">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t red" id="6">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t green" id="7">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		        </td>
		        <td class="task task-doing" id="task-doing-myntd">
		        </td>
		        <td class="task task-review-waiting" id="task-review-waiting-myntd">
		        </td>
		        <td class="task task-review" id="task-review-myntd">
		        </td>
		        <td class="task task-done" id="task-done-myntd">
		        </td>
		        <td class="task task-suppend" id="task-suppend-myntd">
		        </td>
		    </tr>
		    <tr class="l">
		        <td class="task task-to-do" id="task-to-do-myntd">
		            <div class="task-item t orange" id="5">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t red" id="6">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		            <div class="task-item t green" id="7">
		                <a class="id-ticket t">#89</a>
		                <p class="task-name t">Code</p>
		                <p class="member-name t"><b>HùngGK</b></p>
		                <p class="start-time">2015/03/16 2:00 PM</p>
		                <ul class="tool clearfix">
		                    <li class="change-status">
		                        <blockquote role="cmd-toggle" class="box t" data-title="đổi trạng thái task"><i class="fa fa-list"></i></blockquote>
		                        <ul tabindex="2" class="popup">
		                            <li class="t" role="cmd-sendto-to-do"><i class="fa fa-list"></i>&nbsp;to do</li>
		                            <li class="t" role="cmd-sendto-doing"><i class="fa fa-smile-o"></i>&nbsp;doing</li>
		                            <li class="t" role="cmd-sendto-review-waiting"><i class="fa fa-clock-o"></i>&nbsp;chờ review</li>
		                            <li class="t" role="cmd-sendto-review"><i class="fa fa-cogs"></i>&nbsp;review</li>
		                            <li class="t" role="cmd-sendto-done"><i class="fa fa-check-square-o"></i>&nbsp;done</li>
		                            <li class="t" role="cmd-sendto-suppend"><i class="fa fa-frown-o"></i>&nbsp;tắc tị</li>
		                        </ul>
		                    </li>
		                    <li class="t box" role="cmd-sleep" data-title="collapse"><i class="fa fa-caret-square-o-up"></i></li>
		                    <li class="t box" role="cmd-edit" data-title="edit task"><i class="fa fa-pencil-square-o"></i></li>
		                    <li class="t box" role="cmd-remove" data-title="delete task"><i class="fa fa-trash-o"></i></li>
		                </ul>
		            </div>
		        </td>
		        <td class="task task-doing" id="task-doing-myntd">
		        </td>
		        <td class="task task-review-waiting" id="task-review-waiting-myntd">
		        </td>
		        <td class="task task-review" id="task-review-myntd">
		        </td>
		        <td class="task task-done" id="task-done-myntd">
		        </td>
		        <td class="task task-suppend" id="task-suppend-myntd">
		        </td>
		    </tr>
		</table>
    </div>
    </div>
</div>
</div>