<%if(typeof customer === 'undefined') {
    customer = {};
}%>
<%if(typeof organization === 'undefined') {
    organization = {};
}%>
<div id="invoice-body"
    ng-app="invoiceApp"
    ng-controller="InvoiceController"
>
    <ul class="nav nav-tabs hideOnPrint invoiceWrapper" style="margin-bottom: 10px;">
        <li class="active"><a data-toggle="tab" href="#invoiceOptical">Kính mắt</a></li>
        <li><a data-toggle="tab" href="#invoiceOther">Phổ biến</a></li>
    </ul>
    <div class="tab-content">
        <div id="invoiceOptical" class="tab-pane fade in active">
            <%include invoiceOptical%>
        </div>
        <div id="invoiceOther" class="tab-pane fade">
            <%include invoiceOptical%>
        </div>
    </div>
</div>
<script type="text/javascript">
var invoiceApp = angular.module('invoiceApp', ['ngAnimate', 'ngSanitize', 'ui.utils.masks' ]);
invoiceApp.controller('InvoiceController', function( $scope, $http, $filter, $compile) {
    $scope.customer = <%-JSON.stringify(customer)%>;
    $scope.organization = <%-JSON.stringify(organization)%>;
    $scope.cartList = [];
    var numberOfRow = 10;
    for(var i = 1; i <= numberOfRow; i++) {
        var cartItem = {stt: i};
        $scope.cartList.push(cartItem);
    }
    $scope.intoMoney = function(cart) {
        try {
            if(cart.number && cart.unitPrice) {
                return parseFloat(cart.number) * parseFloat(cart.unitPrice);
            }
            return "";
        } catch(e) {
            console.log(e)
            return "";
        }
        return "";
    }
    $scope.totalMoney = function() {
        var total = 0;
        for(var i = 0; i < $scope.cartList.length; i++) {
            var cart = $scope.cartList[i];
            if(cart.number && cart.unitPrice) {
                total += parseFloat(cart.number) * parseFloat(cart.unitPrice);
            }
        }
        return total;
    }
    $scope.totalPayMoney = function() {
        var total = $scope.totalMoney();
        if($scope.totalDiscount) {
            total -= parseFloat($scope.totalDiscount);
        }
        return total;
    }
    $scope.readNumber = function() {
        var total = $scope.totalPayMoney();
        if(total > 0) {
            return readNumber(total) + " đồng."
        }
        return "";
    }
    $scope.percent = function() {
        var total = $scope.totalMoney();
        var percent = '0%';
        if($scope.totalDiscount) {
            percent = parseInt((parseFloat($scope.totalDiscount)/$scope.totalMoney()) * 100) + '%';
        }
        return percent;
    }
    
}).filter('number2Decimal', [
     function() { // should be altered to suit your needs
         return function(input) {
             return (input)? input.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : "";
     };
}]);
function pressBackButton() {
    window.close();
}
function pressExportInvoice() {
    if(confirmAction()) {
        window.print();
        window.close();
    }
}
</script>
