<div class="mainScreen clearfix">
<div class="leftSide menu">
<%include ../element/_menu%>
</div>
<div class="rightSide">
    <div class="kanban">
    <h2 class="bar"><i class="fa fa-file-text-o"></i> Nhập kho</h2>
    <ul class="action clearfix">
        <li class="tool"><a id="showTaskForm" onclick="javascript:return false;" href="/task/create/"  ><i class="fa fa-tasks"></i> Nhập kho</a>
        <div class="boxup menu-list">
            <div class="input-data-form">
                
            </div>
        </div>
        </li>
        <li class="tool"><a href="#"><i class="fa fa-tasks"></i> Filter</a>
        <div class="boxup menu-list" tabindex="1">
            <div class="input-data-form">
            </div>
        </div>
        </li>
    </ul>
    <div class="data-area newGrid">
        <div class="main-form-data">
            <form >
                <div align="center">
                    <div id="read-barcoder">
                    <input style="vertical-align: bottom;" id="main-barcoder" type="text" class="form-input barcode-scaner" placeholder="Mã vạch">
                    <label class="ico barcode" for="main-barcoder"></label>
                    </div>
                </div>
                <br />
                <br />
                <p class="note">Hãy nhập số lượng cho các sản phẩm</p>
                <table class="data-grid-table">
			        <tr>
			            <th style="width: 5%;"></th>
			            <th style="width: 15%;">barcode</th>
			            <th style="width: 50%;">tên</th>
			            <th style="width: 20%;">loại</th>
			            <th style="width: 12%;">số lượng</th>
			        </tr>
			        <tr>
			            <td class="number"><input type="checkbox" name="ck[]"></td>
			            <td class="number">MD-10080001</td>
			            <td class="text">Model thời trang Rayban 3055</td>
			            <td class="number">Model Nam</td>
			            <td class="number"><input name="sl[]" value="1" class="sl" type="text"></td>
			        </tr>
			        <tr>
			            <td class="number"><input type="checkbox" name="ck[]"></td>
			            <td class="number">MD-10080001</td>
			            <td class="text">Model thời trang Rayban 3055</td>
			            <td class="number">Model Nam</td>
			            <td class="number"><input name="sl[]" value="1" class="sl" type="text"></td>
			        </tr>
			        <tr>
			            <td class="number"><input type="checkbox" name="ck[]"></td>
			            <td class="number">MD-10080001</td>
			            <td class="text">Model thời trang Rayban 3055</td>
			            <td class="number">Model Nam</td>
			            <td class="number"><input name="sl[]" value="1" class="sl" type="text"></td>
			        </tr>
			        <tr>
			            <td class="number"><input type="checkbox" name="ck[]"></td>
			            <td class="number">MD-10080001</td>
			            <td class="text">Model thời trang Rayban 3055</td>
			            <td class="number">Model Nam</td>
			            <td class="number"><input name="sl[]" value="1" class="sl" type="text"></td>
			        </tr>
			        <tr>
			            <td class="number"><input type="checkbox" name="ck[]"></td>
			            <td class="number">MD-10080001</td>
			            <td class="text">Model thời trang Rayban 3055</td>
			            <td class="number">Model Nam</td>
			            <td class="number"><input name="sl[]" value="1" class="sl" type="text"></td>
			        </tr>
			        <tr>
			            <td class="number"><input type="checkbox" name="ck[]"></td>
			            <td class="number">MD-10080001</td>
			            <td class="text">Model thời trang Rayban 3055</td>
			            <td class="number">Model Nam</td>
			            <td class="number"><input name="sl[]" value="1" class="sl" type="text"></td>
			        </tr>
			    </table>
            </form>
        </div>
    </div>
    </div>
</div>
</div>