<div class="panel panel-default window">
	<div class="panel-heading"><strong><span class="glyphiconss glyphiconss-show-big-thumbnails"></span> 
	Nhập mắt kính</strong>
	<%include ../element/toolbar%>
	</div>
	<div class="panel-body no-padding" data-ng-controller="tableCtrl">
        <div class="table-responsive">
            <table id="lstProduct" class="table table-striped table-bordered">
                <thead>
                    <tr>
		                <th class="size-1">STT</th>
		                <th class="size-1">Thêm</th>
		                <th class="size-1">Sửa</th>
		                <th class="size-1">Xóa</th>
		                <th class="size-2">
		                  <div class="sort">Mã vạch
		                  <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('code', 'asc') "
                              data-ng-class="{active: row == 'code' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('code', 'desc') "
                              data-ng-class="{active: row == 'code' && type == 'desc'}"
                              ></span>
		                  </div>
		                </th>
		                <th class="size-2">
		                  <div class="sort">Số độ
		                  <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('cycl', 'asc') "
                              data-ng-class="{active: row == 'cycl' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('cycl', 'desc') "
                              data-ng-class="{active: row == 'cycl' && type == 'desc'}"
                              ></span>
                          </div>
                        </th>
		                <th class="size-2">
		                  <div class="sort">Loại
		                  <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('kind', 'asc') "
                              data-ng-class="{active: row == 'kind' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('kind', 'desc') "
                              data-ng-class="{active: row == 'kind' && type == 'desc'}"
                              ></span>
                          </div>
	                    </th>
		                <th class="size-6">
		                  <div class="sort">Tên
		                  <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('desciption', 'asc') "
                              data-ng-class="{active: row == 'desciption' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('desciption', 'desc') "
                              data-ng-class="{active: row == 'desciption' && type == 'desc'}"
                              ></span>
                          </div>
		                </th>
		                <th class="size-2">
		                  <div class="sort">Số lượng
		                  <span class="glyphicons icon-sort glyphicons-chevron-up"
                              data-ng-click=" order('number', 'asc') "
                              data-ng-class="{active: row == 'number' && type == 'asc'}"
                          ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('number', 'desc') "
                              data-ng-class="{active: row == 'number' && type == 'desc'}"
                              ></span>
                          </div>
		                </th>
		                <th class="size-3">
		                  <div class="sort">Giá bán
		                  <span class="glyphicons icon-sort glyphicons-chevron-up"
		                      data-ng-click=" order('price', 'asc') "
                              data-ng-class="{active: row == 'price' && type == 'asc'}"
		                  ></span>
                          <span class="glyphicons icon-sort glyphicons-chevron-down"
                              data-ng-click=" order('price', 'desc') "
                              data-ng-class="{active: row == 'price' && type == 'desc'}"
                              ></span>
                          </div>
		                </th>
		            </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="store in currentPageStores">
                        <td class="stt">{{store.stt}}</td>
                        <td class="align-center"><a onclick="addRow();" href="javascript:void(0);"><%-__('table.add')%></a></td>
                        <td class="align-center"><a onclick="editRow();" href="javascript:void(0);"><%-__('table.edit')%></a></td>
                        <td class="align-center"><a onclick="removeRow();" href="javascript:void(0);"><%-__('table.delete')%></a></td>
                        <td class="code">{{store.code}}</td>
                        <td class="code">{{store.cycl}}</td>
                        <td class="string">{{store.kind}}</td>
                        <td class="string">{{store.desciption}}</td>
                        <td class="number">{{store.number}}</td>
                        <td class="money">{{store.price}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <button id="import-delete" class="btn btn-danger remover btn-disable" type="button"><i class="fa fa-times-circle" aria-hidden="true"></i> Xóa bản ghi được đánh dấu</button> &nbsp;
            <button id="import-add" class="btn btn-primary" type="button"><i class="fa fa-plus-square" aria-hidden="true"></i> Thêm</button> -->
        </div>
        <div class="table-footer clearfix">
            <div class="info">
                <input class="table-info" data-ng-model="searchKeywords" data-ng-keyup="search()" placeholder="Lọc kết quả theo"> 
                <span class="table-info">Hiển thị</span>
                <select class="table-info" ng-model="numPerPage" data-ng-change="onNumPerPageChange()">
                    <option data-ng-repeat="opt in numPerPageOpt" data-ng-selected="opt == numPerPage">{{opt}}</option>
                </select>
                <span class="table-info">trong {{filteredStores.length}} bản ghi</span>
            </div>
            <ul data-uib-pagination 
                data-total-items="filteredStores.length" 
                data-ng-model="currentPage"
                data-ng-change="select(currentPage)" 
                data-max-size="4" 
                class="pagination-sm"
                data-items-per-page="numPerPage"
                data-boundary-link-numbers="true" 
                data-rotate="false"></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
   $(function() {
       __d('change', 'input[name="ck[]"]', function() {
           if($('input[name="ck[]"]:checked').length) {
               $('#import-delete').removeClass('btn-disable').attr('tabindex', "auto");
           } else {
               $('#import-delete').addClass('btn-disable').attr('tabindex', "-1");
           }
       });
       __d('change', 'input[name="ckall[]"]', function() {
           $('input[name="ck[]"]').prop('checked', $(this).prop('checked')).trigger('change');
       });
       __d('focus', '.ceditable', function() {
           this.setSelectionRange(0, this.value.length);
       });
       __d('focus', '.onlist select', function() {
           $(this).parent().removeClass('onlist');
           $(this).blur(function() {
               $(this).parent().addClass('onlist');
           })
       });
       var STT = 0;
       __d('click', '#import-add', function() {
           var str = '<tr class="im-new-member">\
                <td class="number"><input name="ck[]" tabindex="-1" type="checkbox"></td>\
                <td class="number"><input name="import[' + STT + '][code]" class="form-control ceditable t" readonly="readonly" value="' + Ctrl.getNextCode() + '" maxlength="14" type="text"></td>\
                <td class="text">  <input name="import[' + STT + '][name]" class="form-control ceditable t validate[required]" value="" type="text"></td>\
                <td class="number"><label class="webkit onlist t" style="vertical-align: top;">' + Ctrl.getCategory("import[" + STT + "][cat]") + '</label></td>\
                <td class="number"><input name="import[' + STT + '][sl]" value="0" class="form-control ceditable t validate[required,custom[number]]" type="text"></td>\
                <td class="number"><input name="import[' + STT + '][price]" value="" onkeyup="Ctrl.numberWithDot(this)" class="form-control ceditable t validate[required,custom[money]]" maxlength="14" type="text"></td>\
            </tr>';
            $('#lstProduct .im-new-member').removeClass('im-new-member');
            $('#lstProduct').append(str).find('.im-new-member').find('input[name="import[' + STT + '][name]"]').focus();
            $('#lstProduct').find('.im-new-member').find('input[name="ck[]"]').trigger('change');
            STT ++;
            return false;
       });
       __d('click', '#import-delete', function() {
           if(confirm('Bạn muốn xóa bản ghi?')) {
               $('input[name="ck[]"]:checked').each(function() {
                   $(this).parents('tr').remove();
               });
               $('#import-delete').addClass('btn-disable');
           }
       });
       __d('change', 'select.js-cat', function() {
           if($(this).val() == "00") {
               Ctrl.showAddCat(this);
               $(this).val("0");
           }
       });
       $(window).on('beforeunload', function(){
           if($('input[name="ck[]"]').length) {
               return 'Are you sure you want to leave?';
           }
       });
   })
</script>
