@CHARSET "UTF-8";
.ipopupContainer {
    min-width: 250px;
    min-height: 25px;
    padding: 0;
    z-index: 1999999997;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: medium none;
    overflow: visible;
    position: absolute;
}
.focusout > .ipopupContainer {
	display: none;
}
.ipopupContainer h3 {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 15px 5px;
}
.addto-create-cat-section{
    padding: 15px;
}
.yt-uix-form-input-text {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05) inset !important;
    background-color: #fff  !important;
}
.ipopupContainer .catlists {
    border-bottom: 1px solid #ccc;
    max-height: 245px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
    width: 260px;
}
.addto-create-catlist-section {
	padding-top: 0px;
}
.create-catlist-buttons {
    float: right;
}
.yt-uix-button {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    /* cursor: pointer; */
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: normal;
    outline: 0 none;
    padding: 0 10px;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
}
.yt-uix-button-primary {
    background: #167ac6 none repeat scroll 0 0;
    border-color: #167ac6;
    color: #fff;
}
.to-catlist-item.enableEdit,
.to-catlist-item:HOVER {
	background-color: #eee;
}
.lock .to-catlist-item:not(.enableEdit):HOVER {
	background-color: transparent;
}
.to-catlist-item {
    color: #333;
    /* cursor: pointer; */
    display: block;
    line-height: 25px;
    padding: 0 10px 0 25px;
    position: relative;
    white-space: nowrap;
    font-size: 13px;
}
.to-catlist-item.enableEdit .cmd-edit-cat,
.to-catlist-item:HOVER .cmd-edit-cat {
	display: block;
}
.to-catlist-item.enableEdit .fa-pencil-square-o:before {
  content: "\f0c7";
}
.lock .to-catlist-item:not(.enableEdit):HOVER .cmd-edit-cat {
    display: none;
}
.cmd-edit-cat {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 13px;
	line-height: 25px;
	display: none;
	color: #333 !important;
}
.cmd-edit-cat:HOVER {
	color: #333 !important;
}
.to-catlist-item span:BEFORE {
	content: ".";
	visibility: hidden;
}
.to-catlist-item span {
	min-width: 25px;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 1.5px 10px 1.5px 5px;
	content: "";
}

.to-catlist-item span[contenteditable] {
	background-color: #fff;
	border: 1px solid #ccc;
	
}