@CHARSET "UTF-8";
.clearfix::before {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
input, textarea, button {
	font-family: Roboto,arial,sans-serif;
}
table {
	border-collapse: collapse;
}
.w100 {
	width: 100%;
}
.table {
	display: table;
}
.table .td {
	display: table-cell;
}
.table .free-col {
	width: 100%;
}
.bg-white {
	background-color: #fff;
}
.border-bottom{
	border-bottom: 1px #e8e8e8 solid;
}
.op-ux-button {
	background-color: transparent;
	border: 1px solid transparent;
	padding: 4px 8px;
	cursor: pointer;
	color: #333;
	height: 30px;
	outline: none;
}
.op-ux-button > .glyphicons {
	font-size: 15px;
}
.op-ux-button:HOVER {
	border: 1px solid #e8e8e8;
}
.op-ux-input {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #eee inset;
    height: 28px;
    padding: 0px 8px;
    transition: all 0.2s ease 0s;
    font-size: 14px;
    outline: none;
}
.op-ux-input:FOCUS {
    border: 1px solid #1c62b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}