@CHARSET "UTF-8";
.clearfix::before {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
input, textarea, button {
	font-family: Roboto,arial,sans-serif;
}
ul,li {
	list-style-type: none;
}
a:HOVER,
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
}
.w100 {
	width: 100%;
}
.table {
	display: table;
}
.table .td {
	display: table-cell;
}
.table .free-col {
	width: 100%;
}
.bg-white {
	background-color: #fff;
}
.border-bottom{
	border-bottom: 1px #e8e8e8 solid;
}
.op-ux-button {
	background-color: transparent;
	border: 1px solid transparent;
	padding: 4px 8px;
	cursor: pointer;
	color: #333;
	height: 30px;
	outline: none;
}
.op-ux-icon > .glyphicons,
.op-ux-button > .glyphicons {
	font-size: 15px;
}
.op-ux-button:HOVER {
	border: 1px solid #e8e8e8;
}
.op-ux-input {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #eee inset;
    height: 28px;
    padding: 0px 8px;
    transition: all 0.2s ease 0s;
    font-size: 14px;
    outline: none;
}
.op-ux-input:FOCUS {
    border: 1px solid #1c62b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.op-ux-icon {
	background: transparent;
	display: inline-block;
	padding: 0px;
	border: none;
	vertical-align: middle;
	color: #555;
}
.op-ux-icon:HOVER {
	color: #333;
}
[data-title]{
    position: relative;
}
[data-title]:BEFORE{
    content: attr(data-title);
    position: absolute;
    top: -32px;
    left:-12px;
    display: inline-block;
    background-color: #06090b;
    color: #fff;
    white-space: nowrap;
    padding: 2px 10px 1px 10px;
    border-radius: 3px;
    -webkit-transition:visibility 0.1s linear 0.1s,opacity 0.2s linear 0.1s;
    transition:visibility 0.1s linear 0.1s,opacity 0.2s linear 0.1s;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    height: 22px;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    z-index: 299999999;
}
[data-title]:AFTER{
    content: "";
    border-color: transparent #06090b transparent transparent;
    border-style: solid;
    border-width: 0px 6px 10px 0px;
    position: absolute;
    top: -12px;
    left: -3px;
    -webkit-transition:visibility 0.1s linear 0.1s,opacity 0.2s linear 0.1s;
    transition:visibility 0.1s linear 0.1s,opacity 0.2s linear 0.1s;
    opacity: 0;
    visibility: hidden;
}
[data-title]:HOVER:AFTER,
[data-title]:HOVER:BEFORE{
    opacity: 1;
    visibility: visible;
}