@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    background: #f1f1f1 none repeat scroll 0 0;
}
body {
	font-family: Helvetica,Arial,sans-serif;
	word-wrap: break-word;
	font-size: 13px;
	line-height: 1.42857;
}
#head-container {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 199999999;
}
#head-height-offset {
	height: 50px;
}
.head-offset-inner {
	padding: 9px 30px 11px;
}
.head-top .td{
	vertical-align: middle;
}
.head-top .td.logo{
	width: 200px;
}
.logo-image {
	height: 30px;
	margin-left: 10px;
}
.home-link {
	display: inline-block;
	margin-right: 90px;
}
.head-search-query {
	width: 400px;
	font-size: 16px;
	height: 30px;
	border-radius: 3px 0px 0px 3px;
}
.head-search-button {
	border: 1px solid #ccc;
	/* box-shadow: 0 1px 2px #eee inset; */
	padding: 0px 20px;
	border-left-width: 0px;
	border-radius: 0px 3px 3px 0px;
	outline: none;
}
.head-search-button:FOCUS,
.head-search-button:HOVER {
	border: 1px solid #ccc;
	border-left-width: 0px;
	background-color: #f8f8f8;
}
.show-fluid #menu-fluid-container {
	left: 0px;
}
#page-container {
    padding-left: 0px;
    transition: all 0.35s ease 0s;
}
.show-fluid #footer-container,
.show-fluid #page-container {
    padding-left: 240px;
}
#footer-container {
    transition: all 0.35s ease 0s;
}
.fluid-container {
	border-right: 1px solid #e8e8e8;
	width: 240px;
	position: fixed;
	top: 0px;
	left: -240px;
	background-color: #fff;
	transition: all 0.35s ease 0s;
}
.fluid-body {
	padding: 12px 21px;
}
#content-wrapper {
	top: 10px;
}
.wrapper {
	position: relative;
	max-width: 1260px;
	margin: 0 auto;
}
#top-content {
	/* border: 1px solid #e8e8e8; */
}
.section {
	padding: 15px 18px;
}
.module-title {
	font-size: 15px;
	font-weight: 500;
	color: #333;
}
.module-title a {
	color: inherit;
}
.module-title a:HOVER {
	color: #167ac6;
}
.section-title {
	padding-bottom: 10px;
}
.top-of-product {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.top-of-product .product-row,
.top-of-product {
	border: 1px solid #e8e8e8;
}
.top-of-product .product-row{
	display: table-row;
}
.section-list-item {
    display: inline-block;
}
.section-list {
    font-size: 0px;
}
.section-list-item > .item {
	width: 195px;
	height: 195px;
	background-color: #e1e1e1;
}
.section-list-item {
	margin-left: 10px;
}
.section-list-item:FIRST-CHILD {
	margin-left: 0px;
}
#top-content {
	margin: 0 10px;
}
#footer-container .footer-content {
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #e8e8e8;
}
#footer-container .footer-content p{
	margin-bottom: 3px;
}
.panel-heading > strong {
	font-family: arial;
}
.panel-heading span {
	line-height: 1;
	vertical-align: middle;
}
.form-control {
	border-radius: 0px;
}
.fluid-nav {
	font-size: 13px;
	font-weight: bold;
}
.fluid-nav a{
	display: block;
	padding: 8px 10px;
	color: #222;
}
.fluid-nav a:HOVER{
    color: #fff;
    background-color: #555; 
}
.h-i {
	line-height: 1.2em;
}
.h-i > .glyphicons,
.h-i > .fa {
	line-height: 1em;
	font-size: 115%;
}