@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    background: #f1f1f1 none repeat scroll 0 0;
}
body {
	font: 13px Roboto,arial,sans-serif;
	word-wrap: break-word;
	font-size: 13px;
}
#head-container {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 199999999;
}
#head-height-offset {
	height: 88px;
}
.head-offset-inner {
	padding: 7px 30px;
}
.head-top .td{
	vertical-align: middle;
}
.logo-image {
	height: 30px;
	margin-left: 10px;
}