@CHARSET "UTF-8";
[role^="cmd-"]:HOVER{
    color: rgba(206, 32, 89, 0.9);
}
[role^="cmd"]{
    cursor: pointer;
}
.box{
    /*box-shadow: 1px 1px 2px 0.5px rgba(16, 25, 34, 0.26);*/
    box-shadow: 1px 1px 0.5px -1.5px rgba(16, 25, 34, 0.26);
    border: solid 1px rgba(16, 25, 34, 0.16);
    width: 15px;
    height: 15px;
    vertical-align: top;
    text-align: center;
}
[data-title]{
    position: relative;
}
[data-title]:BEFORE{
    content: attr(data-title);
    position: absolute;
    top: -32px;
    left:-12px;
    display: inline-block;
    background-color: #06090b;
    color: #fff;
    white-space: nowrap;
    padding: 2px 10px 1px 10px;
    border-radius: 3px;
    -webkit-transition:visibility 0.5s linear 0.3s,opacity 0.3s linear 0.5s;
    transition:visibility 0.5s linear 0.3s,opacity 0.3s linear 0.5s;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    height: 22px;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}
[data-title]:AFTER{
    content: "";
    border-color: transparent #06090b transparent transparent;
    border-style: solid;
    border-width: 0px 6px 10px 0px;
    position: absolute;
    top: -12px;
    left: -3px;
    -webkit-transition:visibility 0.5s linear 0.3s,opacity 0.3s linear 0.5s;
    transition:visibility 0.5s linear 0.3s,opacity 0.3s linear 0.5s;
    opacity: 0;
    visibility: hidden;
}
[data-title]:HOVER:AFTER,
[data-title]:HOVER:BEFORE{
    opacity: 1;
    visibility: visible;
}
.task .task-item.wait-for-remove{
    min-width: auto !important;
    overflow: hidden;
    opacity: 0;
}
.popup{
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.popup.active{
    height: auto;
    width: auto;
    visibility: visible;
}
.task-item:BEFORE{
    position: absolute;
    content: attr(show-time);
    bottom: 0px;
    right: 40px;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}
.show-detail .detail-task{
	display: block;
}
.detail-task{
	position: absolute;
	top: 0px;
	right: -18px;
	bottom: 20px;
	left: 0px;
	background: linear-gradient( #e4effb, #f7fafe);
	display: none;
	overflow-y: scroll;
	color: #333;
	text-shadow: none;
	font-size: 11px;
}
.detail-task li{
	padding: 3px 5px;
	border-bottom: #333 dotted 1px;
}
.task-item.show-detail{
	overflow: hidden;
}
a.detail-task-a{
	bottom: 3px;
	right: 1px;
	position: absolute;
	font-size: 12px;
}
a.detail-task-a:HOVER {
	color: black;
}
.task-item.sleep .detail-task-a{
	display: none;
}
.task-item.sleep:BEFORE{
    display: none;
}
body.lock{
    position: relative !important;
}
overlay{
    display: none;
    visibility: hidden;
}
body.lock overlay{
    position: absolute !important;
    z-index: 99998 !important;
    background-color: rgba(12, 12, 12, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: visible;
    display: block;
}
body > .popup-box {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 99999 !important;
    box-shadow: 1px 1px 2px 0.5px rgba(16, 25, 34, 0.26);
    border: solid 1px rgba(16, 25, 34, 0.16);
}
.admin-menu {
    position: relative;
}
.menu-list{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #dfecf9;
    box-shadow: 0.5px 0.5px 0.5px rgba(108, 124, 139, 0.7);
    border: solid 1px rgba(16, 25, 34, 0.16);
    border-top: none;
    white-space: nowrap;
    z-index: 100;
    display: none;
}
.admin-menu.active .menu-list{
    display: block;
}
.admin-menu .menu-list li:FIRST-CHILD{
	border-top: none;
}
.admin-menu .menu-list li{
    list-style-type: none;
    padding: 5px 10px;
    border-top: solid 1px rgba(16, 25, 34, 0.16);
}