.appManager {
    border: medium none;
    font-family: Helvetica Neue,Helvetica,Arial Unicode MS,Arial;
    font-size: 10pt;
    margin: 0;
}
.MenubarContainer {
    background-color: #fff;
    top: 0px; left: 0px; right: 0px; height: 60px;
}
.MenubarContainer .Menubar{
    position: absolute; padding-left: 52px; box-sizing: border-box; top: 29px;
}
.Avatar {
	display: block;
	position: absolute;
	width: 40px;
	background-color: rgb(241, 136, 8);
	height: 60px;
	transition: all 125ms linear 0s;
	cursor: default;
	font-size: 36px;
	color: #fff !important;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
}
.TopPicPath {
	position: absolute;
	right: 120px;
	left: 50px;
	top: 6px;
	height: 26px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	visibility: visible;
}
.MenubarContainer, .ToolbarContainer, .MainContainer, .SidebarContainer, .FooterContainer, .Hsplit, .geVsplit {
    cursor: default;
    overflow: hidden;
    position: absolute;
}
.Menubar {
    padding: 0 2px;
    vertical-align: middle;
}
.Menubar {
    display: block;
    white-space: nowrap;
    width: 100%;
}
.SidebarContainer a,
.MenubarContainer a, .Toolbar a {
    color: #000000;
    text-decoration: none;
}
.Item {
    display: inline-block;
    vertical-align: top;
}
.MenubarContainer .Item, .Toolbar .Button, .Toolbar .Label, .Sidebar,
.SidebarContainer .Title, .Sidebar .Item, .mxPopupMenuItem {
    transition: all 0.1s ease-in-out 0s;
}
.tran {
	transition: all 0.1s ease-in-out 0s;
}
.MainContainer,
.Hsplit,
.SidebarContainer {
	top: 95px;
}
#LeftSidebarContainer {
	bottom: 36px;
	left: 0px;
}
#RightSidebarContainer {
	bottom: 0px;
	right: 0px;
	background-color: whiteSmoke;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 12px;
	width: 240px;
}
.MenubarContainer .Item, .Toolbar .Item {
    cursor: default;
    padding: 6px 8px;
}
.MenubarContainer .Item, .Toolbar .Button, .Toolbar .Label, .SidebarContainer .Title {
    cursor: pointer !important;
}
.MenubarContainer .Item:hover, .ToolbarContainer .Item:hover {
    background: #eeeeee;
}
.ToolbarContainer {
    background: whiteSmoke none repeat scroll 0 0;
    border-bottom: 1px solid #e0e0e0;
    left: 0px;
    right: 0px;
    top: 60px;
    height: 34px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 0 #fff inset;
}
.geToolbar {
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 0 #fff inset;
    padding: 1px 0 0 6px;
}
.geMenubar, .geToolbar {
    display: block;
    white-space: nowrap;
    width: 100%;
}
.SidebarContainer {
    background: #ffffff;
    border-top: 1px solid #e5e5e5;
    overflow: auto;
    position: absolute;
}
.Sidebar {
    background: whiteSmoke none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 5px 5px 12px;
}
.SidebarContainer .Title {
    color: #505050;
}
.SidebarContainer .Title {
    background: #eeeeee;
    border-bottom: 1px solid #e5e5e5;
    cursor: default;
    display: block;
    font-size: 9pt;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0;
    overflow: hidden;
    padding: 6px 0 6px 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.SidebarContainer .Title:HOVER {
	background: #e5e5e5;
}
.Hsplit {
    background-color: #e5e5e5;
    background-image: url("/image/resize4x7.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: col-resize;
    width: 8px;
    bottom: 0px; 
}
.MainContainer {
    background-color: #ffffff;
    outline: medium none;
    bottom: 0px; overflow: auto; cursor: default;
}
.MenubarContainer {
	z-index: 1;
}
.ToolbarContainer {
	z-index: 2;
}
.SidebarContainer {
	z-index: 3;
}
.Hsplit {
	z-index: 99;
}
.SidebarContainer {
	z-index: 6;
}
.MainContainer {
	z-index: 2;
}
.ToolbarContainer .Button:hover {
    border: 1px solid gray;
    border-radius: 2px;
    filter: none !important;
    opacity: 1;
}
.ToolbarContainer .Button {
    border: 1px solid transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    width: 20px;
    margin: 2px;
    opacity: 0.6;
    padding: 0 2px 4px;
    line-height: 1em;
}
.ToolbarContainer .button-right {
	position: absolute;
	display: inline-block;
	top: 5px;
	padding: 2px;
	font-size: 14px;
	width: 16px;
	height: 16px;
}
.Button > .glyphicons{
	color: #000000;
	margin: 1px;
}
