.isHideSideRight #RightSidebarContainer,
.isFullScreen #LeftSidebarContainer{
	display: none !important;
}
.isFullScreen .Hsplit{
	left: 0px !important;
}
.isFullScreen #cmdFullScreen .glyphicons-fit-image-to-frame::BEFORE{
	content: "";
	color: #bc2328;
}
.isFullScreen #tabsList,
.isFullScreen #MainContainer{
	left: 8px !important;
}
.isFullScreen.isHideSideRight #MainContainer,
.isHideSideRight #MainContainer {
	right: 0px !important;
}
.isFullScreen.isHideSideRight #tabsList,.isHideSideRight #tabsList{
    right: 240px !important;
}
.isHideSideRight #cmdHideSideRight .glyphicons-bring-forward::BEFORE{
	content: "";
	color: #bc2328;
}
.isMinHeader #cmdMinHeader .glyphicons-arrow-up::BEFORE{
	content: "";
	color: #bc2328;
}
.isMinHeader .TopPicPath,
.isMinHeader #LogoStore{
	display: none;
}
.isMinHeader .Menubar{
	padding-left: 5px;
	top: 0px;
}
.isMinHeader .ToolbarContainer{
	top: 32px;
}
.isMinHeader .MenubarContainer{
	height: 32px;
}
.isMinHeader .MainContainer,.isMinHeader .Hsplit,.isMinHeader .SidebarContainer{
	top: 68px;
}
.isMinHeader .tabsList{
	top: 33px;
}
.window.isMinify{
    transform: translate(0px, 0px) scale(0.25) translate(0px, 0px);
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.window.isMinify > .panel-heading{
}