@CHARSET "UTF-8";
.uiLabelCheckbox{
  position: relative;
  padding-left: 18px;
}
.uiLabelCheckbox:HOVER{
  cursor: pointer;
}
.uiLabelCheckbox > input[type="checkbox"],
.uiLabelCheckbox > input[type="radio"]{
  position: absolute;
  top: 0;
  left: 0;
}
.errorMessage {
  color: red;
  list-style-type: none;
}
.rio-button-action .fa{
	font-size: 120%;
}
.rio-button-action.remover {
	background-color: #d14836;
}
.btn-disable {
	opacity: 0.5;
	pointer-events: none;
}
.rio-button-action.remover:focus,
.rio-button-action.remover:hover {
	background-color: #d14836;
	box-shadow: 0 -2px 0 #b73a2a inset;
	border-bottom-color: #b73a2a;
	color: #fff;
}
.rio-button-action {
    background-color: #427fed;
    background-image: -moz-linear-gradient(center top , transparent, transparent);
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    margin-right: 16px;
    min-width: 54px;
    outline: 4px solid transparent;
    padding: 7px 12px;
    text-align: center;
    transition-duration: 0.218s;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
}
.rio-button-action > .glyphicons {
    position: relative;
    font-size: 150%;
    margin: -0px 0 -3px -2px;
}
.rio-button-action:focus,
.rio-button-action:hover {
    background-color: #4285f4;
    background-image: -moz-linear-gradient(center top , transparent, transparent);
    border-bottom-color: #2f69c2;
    box-shadow: 0 -2px 0 #2f69c2 inset;
    color: #fff;
}
#read-barcoder{
	position: relative;
	display: inline-block;
}
#read-barcoder .barcode{
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
}
#read-barcoder .barcode-scaner{
	padding-right: 35px;
}
.buttonClick {
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding: 6px 0px;
}
.buttonClick:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.buttonClick:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.textbox01 {
    background: #F1F1F1;
    background-position: 5px -7px !important;
    padding: 6px 10px 6px 10px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}
.textbox01:focus {
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}
.w111{
	width: 111px;
}
.w100pc{
	width: 100%;
	box-sizing: border-box;
}
.im-new-member label.webkit.onlist select{
	padding:3px 5px 1px !important;
    font-size: 13px;
}
.im-new-member label.webkit.onlist select,
label.webkit select {
    padding:3px 5px 1px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: inherit;
    border:1px solid #ccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 13px;
    text-align: left;
    height: 30px;
}
label.webkit.onlist:BEFORE,
label.webkit.onlist:AFTER {
	visibility: hidden;
}
.im-new-member label.webkit.onlist:BEFORE,
.im-new-member label.webkit.onlist:AFTER {
	visibility: visible;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    label.webkit select{padding-right:18px}
}
label.webkit {position:relative; height: 30px; display: block;}

label.webkit:after {
    content:'<>';
    font:13px "Consolas", monospace;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:6px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label.webkit:before {
    content:'';
    right:6px; top:6px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
}
label.webkit.onlist select {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor:default;
}
label.webkit.onlist select,
.ceditable {
	background-color: transparent;
	padding: 3px !important;
	margin: 0px;
	width: 100%;
	display: block;
	border: none;
	box-shadow:none;
	box-sizing: border-box;
	text-align: inherit;
	font-size: inherit;
	height: 25px;
	height: 30px;
}
i.smaller{
	font-size: 10px;
	color: #505050;
}