<div id="content-body"
    ng-app="homeApp"
    ng-controller="HomeController"
>
<div class="cs-page__container" ng-cloak>
    <%include ../customer/customerSearchForm%>
    <%include ../customer/customerForm%>
</div>
    <div id="divList" class="panel panel-default">
        <div class="panel-heading">
            <strong class="h-i">
                <%-__('customer.customerInfoList')%>
            </strong>
        </div>
        <div class="panel-body" id="divListCustomer">
        </div>
    </div>
    
    <%- include ../common/saveResultDisplay%>
</div>
<script type="text/javascript">
var homeApp = angular.module('homeApp', ['ngAnimate', 'ngSanitize', 'csProgress' ]);

homeApp.controller('HomeController', function( $scope, $http, $filter) {
    $scope.CS_PAGE = {
        SEARCH: 0,
        FORM: 1,
        INVOICE: 2,
    }
    //Khoi tao trang
    $scope.currentPage = $scope.CS_PAGE.SEARCH;
});
function pressSearchButton() {
    if($('#frmSearch').validationEngine('validate')) {
        var areaId = 'divListCustomer';
        var actionUrl = '/customer/list';
        var formData = getFormAsString('frmSearch');
        d2tUpdateAjax(areaId, actionUrl, formData, "GET");
    }
}
function pressSaveAndInvoice() {
    if($('#frmSave').validationEngine('validate') && confirmCreate()) {
        var areaId = 'saveResultDisplayTag';
        var actionUrl = '/customer/save-and-invoice';
        var formData = getFormAsString('frmSave');
        d2tUpdateAjax(areaId, actionUrl, formData, "POST");
    }
}
function callbackAfterSaveAndInvoice(returnCode, extraValue) {
    d2tResetForm('frmSave');
    pressSearchButton();
}
$(document).ready( function() {
    if (!angular.element(document.getElementById('content-body')).scope()) {
        angular.bootstrap(document.getElementById("content-body"), [ 'homeApp' ]);
    }
    pressSearchButton();
});
</script>