<div id="divList" class="panel panel-default">
    <div class="panel-heading">
        <strong class="h-i">
            <%-__('customer.customerInfoList')%>
        </strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            
        </div>
    </div>
</div>
