<form class="login" method="GET" action="/login/">
    <fieldset style="padding: 30px 45px; max-width: 540px;">
        <h1 class="headForm uppercase" style="text-align: center;"><i class="fa fa-lock" aria-hidden="true"></i> Đăng ký hoàn thành <br /> cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!</h1>
        <%/* include ../element/_error */%>
        <table class="fulltd" style=" font-size: 13px; width: 100%;">
            <tr><td style="font-weight: normal; text-align: left;" colspan="2">
                <ol class="you-are-know" style="">
                    <li style="margin-top: 15px;">Tài khoản bạn đăng ký tại đây là tài khoản quản trị, bạn có thể thêm những tài khoản với quyền sử dụng sau khi đăng nhập bằng tài khoản này.</li>
                    <li>Tài khoản bạn đăng ký tại đây là tài khoản quản trị, bạn có thể thêm những tài khoản với quyền sử dụng sau khi đăng nhập bằng tài khoản này.</li>
                </ol>
            </td></tr>
            <tr><th style="font-size: 15px; text-align: left;" colspan="2">1. Thông tin cá nhân</th></tr>
            <tr><th></th><td><button class="rio-button-action" tabindex="12"><%=__('Tiếp tục>>')%></button></td></tr>
        </table>
        <!-- legend>Login</legend -->
    </fieldset>
</form>