<p class="sub">Quản lý</p>
<ul class="menu">
    <li><a href="/admin/user/"><i class="fa fa-user"></i>User</a>
        <ul class="subMenu">
            <li><a href="/admin/user/add"><i class="fa fa-plus-square"></i>New user</a></li>
        </ul>
    </li>
    <li ><a href="/admin/project/"><i class="fa fa-file-text-o"></i>Project</a>
        <ul class="subMenu">
            <li><a href="/admin/project/add"><i class="fa fa-plus-square"></i>New project</a></li>
        </ul>
    </li>
</ul>