<%if(res.locals.message) {%> 
  <%if(typeof res.locals.message == 'string') {%>
	<ul class="errorMessage">
		<li class="common_error"><%= res.locals.message%></li>
	</ul>
<%} else {%>
<ul class="errorMessage">
	<%for($mess in res.locals.message) {%>
	<li class="common_error"><%= res.locals.message[$mess]%></li> <%}%>
</ul>
<%}%> <%}%>
