<%if(req.session.authenticated) {%>
<p class="sub">Quản lý</p>
<ul class="menu">
    <li><a href="/profile/"><i class="fa fa-user"></i><%=req.session.user.user_name%></a></li>
    <li ><a href="#"><i class="fa fa-file-text-o"></i>Project</a>
        <ul class="subMenu">
        <%if(res.locals.app && res.locals.app.prOfUser) {%>
        <%for(var i in res.locals.app.prOfUser) {
        var pro = res.locals.app.prOfUser[i];
        %>
            <li><a href="/?pid=<%=pro.project_id.id%>">
            <%if(req.session.user.currentProject == pro.project_id.id) {%>
            <i class="fa fa-dot-circle-o"></i>
            <% } else {%>
            <i class="fa fa-circle-o"></i>
            <%}%>
            <%=pro.project_id.project_name%></a></li>
        <%}%>
        <%} else {%>
            <li>Bạn chưa tham gia vào dự án nào.</li>
        <%}%>
        </ul>
    </li>
    <li ><a href="/admin/sprint/"><i class="fa fa-map-marker"></i> Sprint</a>
        <ul class="subMenu">
            <li><a href="/admin/sprint/add"><i class="fa fa-plus-square"></i>Add</a></li>
        </ul>
    </li>
</ul>
<%}%>