<div class="window-toolbar">
    <a class="Button Minus" title="Thu gọn"><span class="glyphicons glyphicons-minus"></span></a>
    <a class="Button Remove" title="Xóa"><span class="glyphicons glyphicons-remove"></span></a>
</div>