<div class="window-toolbar">
    <a class="Button" onclick="minifyW(this)" title="Thu gọn"><span class="glyphicons glyphicons-minus"></span></a>
    <a class="Button" onclick="closeW(this)" title="Xóa"><span class="glyphicons glyphicons-remove"></span></a>
</div>