<style type="text/css">
.btn-edit-syscat {
    position: absolute;
    top: 3px;
    right: 2px;
}
.btn-edit-syscat > .glyphicons {
    font-size: 11px !important;
    color: rgb(174, 175, 179);
}
.sysCatType td {
    position: relative;
}
</style>

<div id="content-body"
    ng-app="opticalApp"
    ng-controller="OpticalController"
>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="h-i">
                    <%-__('optical.opticalSysCatType')%>
                </strong>
            </div>
            <div class="panel-body no-padding">
                <ol class="ol-number">
                    <li ng-repeat="sysCatType in lstSysCatType" class="rel border-bottom">
                        <a href="javascript:void(0);" ng-click="loadDetailByType(sysCatType);" class="catName" style="padding-right:35px;">
                        {{$index+1}}. {{sysCatType.name}} ({{0}})
                        </a>
                        <a class="abs more" href="javascript:void(0);">
                            <span class="glyphicons glyphicons-option-horizontal" ng-if="isActive != sysCatType.sysCatTypeId"></span>
                            <span class="glyphicons glyphicons-ok" ng-if="isActive == sysCatType.sysCatTypeId" style="color: #bc2328;"></span>
                        </a>
                    </li>
                </ol>
                 <table class="table tableLayoutFixed table-striped sysCatType">
                     <tfoot>
                         <tr>
                             <th class="size-1 stt alignCenter">
                                <button ng-click="showAdd = !showAdd;" class="op-ux-button transitor-button" ng-class="{in: showAdd}"><span class="glyphicons glyphicons-plus"></span></button>
                             </th>
                             <th class="alignCenter" colspan="2">
                                <form id="frmSysCatType">
                                <input type='hidden' name='_csrf' value='<%- _csrf %>'>
                                <div class="transitor-input" style="height: 28px;" ng-class="{in: showAdd}">
                                    <div class="input-group">
                                      <input title="{{nameAdd}}" name="name" type="text" ng-model="nameAdd" placeholder="Nhập tên mắt kính" maxlength="255" class="form-control op-ux-input validate[required,maxSize[255]]" style="z-index:1">
                                      <label style="cursor: pointer; display:table-cell !important;" class="input-group-addon btn-info">
                                          <button type="submit" style="position:absolute; visibility: hidden;" ng-click="addNewSysCatType();"></button>
                                          <i class="glyphicons glyphicons-ok fff"></i>
                                      </label>
                                    </div>
                                </div>
                                </form>
                             </th>
                         </tr>
                     </tfoot>
                 </table>
            </div>
        </div>
    </div>
    <div class="col-sm-8" id="detailArea" ng-show="isActive">
         <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="h-i">
                    <%-__('optical.opticalSysCat')%>
                </strong>
            </div>
            <div class="panel-body border-bottom" id="formArea">
            </div>
            <div class="panel-body">
                <%include ../optical/opticalList%>
            </div>
        </div>
    </div>
</div>
<%- include ../common/saveResultDisplay%>
</div>
<script type="text/javascript">
var opticalApp = angular.module('opticalApp', ['ngAnimate', 'ngSanitize', 'csProgress' ]);
opticalApp.controller('OpticalController', function( $scope, $http, $filter, $compile) {
    $scope.lstSysCatType = [];
    //lay danh sach loai mat kinh
    $scope.loadSysCatType = function() {
        var actionUrl = "/optical/list-optical-type";
        d2tDeferredAjax("", actionUrl, "", "GET").done(function(data) {
            $scope.lstSysCatType = data;
            $scope.$apply();
        });
    }
    $scope.loadSysCatType();
    $scope.addNewSysCatType = function() {
        if($('#frmSysCatType').validationEngine('validate')) {
            var areaId = 'saveResultDisplayTag';
            var actionUrl = '/optical/add-sys-cat-type?';
            var formData = getFormAsString('frmSysCatType');
            d2tUpdateAjax(areaId, actionUrl, formData, "callbackAfterSaveType");
        }
    }
    $scope.loadDetailByType = function(sysCatType) {
        if($scope.isActive && $scope.isActive == sysCatType.sysCatTypeId) return;
        $scope.isActive = sysCatType.sysCatTypeId;
        prepareSearch(sysCatType.sysCatTypeId);
        opticalTbl.ajax.reload();
    }
});
function prepareSearch(sysCatTypeId) {
    var areaId = 'formArea';
    var actionUrl = '/optical/prepare-search?sysCatTypeId=' + sysCatTypeId;
    d2tUpdateAjax(areaId, actionUrl, '', "GET");
}
function callbackAfterSaveType(returnCode, extraValue, sysCatType) {
    var scope = angular.element(document.getElementById('content-body')).scope();
    scope.lstSysCatType.push(sysCatType);
    scope.showAdd = !1;
    scope.$apply();
    d2tResetForm('frmSysCatType');
}
$(document).ready( function() {
    if (!angular.element(document.getElementById('content-body')).scope()) {
        angular.bootstrap(document.getElementById("content-body"), [ 'opticalApp' ]);
    }
});
$(document).ready( function() {
    $.fn.dataTable.ext.legacy.ajax = true;
    opticalTbl = $('#opticalTbl').DataTable({
        processing : true,
        serverSide : true,
        deferLoading: 90,
        ajax : {
            url : '/optical/load-detail?',
            type : 'GET',
            dataSrc : 'data',
            data : function (data) {
                var scope = angular.element(document.getElementById('content-body')).scope();
                var formData = {sysCatTypeId: scope.isActive};
                d2tCopyProperty(data, formData);
                return data;
            }
        },
        columns : [
               {
                   searchable : false,
                   orderable : false,
                   data : null,
                   targets : 0,
                   className : "alignCenter",
                   render : function(data, type, row, cell) {
                       var info = opticalTbl.page.info();
                       var stt = 1 + (info.page * info.length) + cell.row;
                       return stt;
                   }
               },
               { data : "code", },
               { data : "name", },
               { data : "totalProduct",
                   searchable : false,
                   orderable : false,
               },
               {
                   orderable : false,
                   data: null,
               },
        ]
        ,order : []
    });
});
</script>