<style type="text/css">
.btn-edit-syscat {
    position: absolute;
    top: 3px;
    right: 2px;
}
.btn-edit-syscat > .glyphicons {
    font-size: 11px !important;
    color: rgb(174, 175, 179);
}
.sysCatType td {
    position: relative;
}
</style>

<div id="content-body"
    ng-app="opticalApp"
    ng-controller="OpticalController"
>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="h-i">
                    <%-__('optical.opticalSysCatType')%>
                </strong>
            </div>
	        <div class="panel-body no-padding">
	             <table class="table table-striped sysCatType">
	                 <thead>
	                     <tr>
	                         <th class="size-1 stt alignCenter">STT</th>
	                         <th class="alignCenter">Tên</th>
	                     </tr>
	                 </thead>
	                 <tbody>
	                     <tr ng-repeat="sysCatType in lstSysCatType">
                             <td class="size-1 alignCenter stt">{{$index+1}}</th>
                             <td>
                                <a ng-click="loadSysCatByType(sysCatType)" href="javascript:void(0);">{{sysCatType.name}}</a>
                                <button ng-if="sysCatType.countSysCat > 0" class="clear-button btn-edit-syscat"><span class="glyphicons glyphicons-pencil"></span></button>
                             </th>
                         </tr>
	                 </tbody>
	                 <tfoot>
	                     <tr>
                             <th class="size-1 stt alignCenter">
                                <button ng-click="showAdd = !showAdd;" class="op-ux-button transitor-button" ng-class="{in: showAdd}"><span class="glyphicons glyphicons-plus"></span></button>
                             </th>
                             <th class="alignCenter" >
                                <form>
                                <div class="transitor-input" style="height: 28px;" ng-class="{in: showAdd}">
                                    <div class="input-group">
				                      <input title="{{nameAdd}}" name="name" type="text" ng-model="nameAdd" placeholder="Nhập tên mắt kính" class="form-control op-ux-input" style="z-index:1">
				                      <span style="cursor: pointer;" class="input-group-addon">
				                          <i class="glyphicons glyphicons-ok"></i>
			                          </span>
					                </div>
                                </div>
                                </form>
                             </th>
                         </tr>
	                 </tfoot>
	             </table>
	        </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="h-i">
                    <%-__('optical.opticalSysCat')%>
                </strong>
            </div>
        </div>
    </div>
</div>
<%- include ../common/saveResultDisplay%>
</div>
<script type="text/javascript">
var opticalApp = angular.module('opticalApp', ['ngAnimate', 'ngSanitize', 'csProgress' ]);
opticalApp.controller('OpticalController', function( $scope, $http, $filter, $compile) {
    $scope.lstSysCatType = [];
    //lay danh sach loai mat kinh
    $scope.loadSysCatType = function() {
        var actionUrl = "/optical/listOpticalType";
        d2tDeferredAjax("", actionUrl, "", "GET").done(function(data) {
            $scope.lstSysCatType = data;
            $scope.$apply();
        });
    }
    $scope.loadSysCatType();
});
$(document).ready( function() {
    if (!angular.element(document.getElementById('content-body')).scope()) {
        angular.bootstrap(document.getElementById("content-body"), [ 'opticalApp' ]);
    }
});
</script>